.block-entity-fieldnodefield-news-related {
  padding: .05em 0 2em;
  margin-bottom: 0;
  background: #2e75a0;

  .field__label,
  .field--label {
    @include make-container();
    @include make-container-max-widths();
  }

  .field--label {
    padding-left: 20px;
    color: #fff;
  }

  .field--type-image img {
    width: 100%;
  }

  h2 a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $primary-lighter;
    }
  }

  .field--name-field-news-date {
    opacity: 0.7;
    color: #fff;
  }
}
